<ion-header>
  <ion-toolbar>
    <ion-title>cronograma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>cronograma 1</ion-label>
      <ion-button fill="outline" slot="end" (click)="irAMapa()">mostrar</ion-button>
    </ion-item>
    <ion-card-content>
      mas detalles del cronograma
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>Cronograma 2</ion-label>
      <ion-button fill="outline" slot="end">mostrar</ion-button>
    </ion-item>
    <ion-card-content>
      mas detalles del cronograma 2
    </ion-card-content>
  </ion-card>










</ion-content>
